<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>벗츠 포인트</title>
    <link rel="stylesheet" href="charge.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="https://via.placeholder.com/150" alt="Logo">
            <div class="nav">
                <a href="#">영상</a>
                <a href="#">도서/음악</a>
                <a href="#">게임</a>
                <a href="#">기타</a>
                <a href="#">충전</a>
            </div>
            <div class="profile">
                <img src="https://via.placeholder.com/50" alt="Profile Image">
            </div>
        </div>

        <div class="points-header">
            <div class="username">
                <img src="https://via.placeholder.com/50" alt="Profile Image">
                <span>{{user.nick}}</span>
            </div>
            <div class="points">
           <form action="/charge/charge" method="post">
            포인트충전 : <input type="number" name="charge_money">
            <input type="submit" value="충전">
           </form>
                <span>포인트:</span> <strong>{{user.point}}</strong>
            </div>
        </div>
        <h2>포인트 상세내역</h2>
        <table>
            <tr>
                <th>{{charge_date}}</th>
                <th>충전 포인트</th>
                <!-- <th>사용 포인트</th> -->
                <!-- <th>잔여 포인트</th> -->
            </tr>
            <tr>
                <td>2024-07-24 11:29 (수)</td>
                <td style="color: #6c63ff;">+500 포인트</td>
                <!-- <td style="color: #ff0000;">0 포인트</td> -->
                <!-- <td style="color: black;">0 포인트</td> -->
            </tr>
        </table>
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="#" class="active">1</a>
            <a href="#">&raquo;</a>
        </div>
    </div>
    <div class="footer">
        <p>회사소개 | 제휴문의 | 1:1문의하기 | <a href="#">개인정보처리방침</a> | 서비스 이용약관 | FAQ</p>
        <ㅎ>
            상호: 먹츠 | 대표: 홍길동<br>
            주소: 인공지능사관학교<br>
            사업자등록번호: 000-00-00000 | 통신판매업번호: 제 0000-광주동구A-00000호<br>
            개인정보보호책임자: 홍길동 | 호스팅 사업자: Amazon Web Service(AWS)<br>
            이메일:  | 대표전화: 070-4354-1015
        </호
    </div>
</body>
</html>
